@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 42px;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-top: 0;
  line-height: 1.3;
}

p,
a {
  font-size: 18px;
  line-height: 1.5;
}

.tile-logo {
  height: 50px;
  margin-right: 30px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;

  img {
    height: 80px;
    max-width: 300px;
    margin-bottom: 40px;
  }

  p {
    color: $color-transparent-white-alt;
  }

}

.content-container {
  padding: 100px 200px;
  margin: auto;
  width: 100%;
  max-width: 1440px;

  .tile-animated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: $color-black;

    img,
    .tile-content {
      transition: .2s cubic-bezier(0, 0, 0, 1);
    }

    img {
      margin-bottom: 30px;
    }

    p {
      color: $color-gray;
    }

    .tile-logo {
      height: 80px;
    }

    .tile-icon {
      height: 34px;
    }

    &:hover {

      img {
        transform: scale(1.05);
      }

      .tile-content {
        transform: translateY(4px);
      }

    }

  }

  .tweets {

    .twitter-tweet {
      margin-top: 0 !important;

      @media all and (max-width: $screen-md-min) {
        margin: auto;
      }

    }

    .twitter-tweet:not(:first-child) {
      margin-left: 30px;

      @media all and (max-width: $screen-md-min) {
        margin-left: 0;
        margin: auto;
        margin-top: 30px !important;
      }

      @media all and (max-width: $screen-sm-min) {
        margin-top: 20px !important;
      }

    }

    .flex-container {

      @media all and (max-width: $screen-md-min) {
        flex-wrap: wrap;
      }

    }

  }

  .flex-container {

    .tile {
      width: 100%;
    }

    .tile:not(:first-child) {
      margin-left: 30px;

      @media all and (max-width: $screen-sm-min) {
        margin-left: 0;
        margin-top: 20px !important;
      }

    }

    @media all and (max-width: $screen-sm-min) {
      flex-wrap: wrap;
    }

  }

  iframe {
    -webkit-appearance: none;
    border: 0;
    box-shadow: 0 2px 4px $color-transparent-alt;
    height: 585px;
    width: 100%;

    @media all and (max-width: $screen-md-min) {
      height: 204px;
    }

  }

  .quote {
    position: relative;
    height: 74vh;
  }

  blockquote {
    position: absolute;
    left: -200px;
    width: 100vw;
    max-width: 1440px;
    height: 100%;
    padding: 80px 20px;
    margin: 0;
    border-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .blockquote-background {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $color-primary;
      overflow: hidden;

      .code-cover {
        position: absolute;
        margin: auto;
        margin-right: 0;
        opacity: .4;
        background: linear-gradient(225deg, $color-primary-medium-alt 0%, $color-primary 100%);
      }

    }

    p {
      color: $color-white;
      max-width: 640px;
      font-size: 26px;
      font-weight: 300;
      z-index: 1;
    }

    .author {
      font-size: 18px;
      font-weight: 500;
      margin-top: 30px;
      opacity: .6;
    }

    @media all and (max-width: $screen-lg-min) {
      left: -100px;
    }

    @media all and (max-width: $screen-sm-min) {
      left: -20px;
    }

  }

  .opensource-get-started {
    
    .flex-container:not(:first-child) {
      margin-top: 30px;

      @media all and (max-width: $screen-sm-min) {
        margin-top: 20px;
      }

    }

  }

  .content:not(:first-child) {
    margin-top: 100px;

    @media all and (max-width: $screen-sm-min) {
      margin-top: 50px;
    }

  }

  @media all and (max-width: $screen-lg-min) {
    padding: 100px;
  }

  @media all and (max-width: $screen-sm-min) {
    padding: 50px 20px;
  }

}

@keyframes reveal {

  from {
    left: 0;
    right: 100%;
  }

  30% {
    left: 0;
    right: 0;
  }

  70% {
    left: 0;
    right: 0;
  }

  to {
    left: 100%;
    right: 0;
  }

}
