@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "typography";

$lt-branding-color: $color-primary;
$lt-accent-color: #fba438;
$lt-content-bg: $color-white;
$lt-mobile-gutter: 15px;

.page-illustrated-header-container {
  $lt-gradient-start: #251b40;
  $lt-gradient-end: #6854a3;

  > svg {
    $lt-width: 1170px;
    top: -10%;
    left: 50%;
    right: auto;
    width: $lt-width;
    min-width: 0;
    min-height: 0;
    margin-left: -#{$lt-width / 2};
    opacity: 1;
    fill: $lt-gradient-end;
  }

  &::after {
    background-image: linear-gradient(to bottom, $lt-gradient-start, $lt-gradient-end 100%);
  }

  .btn:last-child {
    margin-bottom: 0;
  }
}

.header-container-content {
  h1 {
    @include accent-font-bold;
    margin-bottom: 10px;
  }

  p {
    color: $color-gray-extra-light;
    font-size: 18px;

    &.intro {
      font-size: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    @include font-weight-semibold;
    margin-top: 80px;
    color: $lt-accent-color;
  }

}

.content-container {
  background-color: $lt-content-bg;
}

.comparison-table-header > .level-column {
  position: relative;
  border: 1px solid $lt-branding-color;
  border-right: 0;

  &::before {
    $lt-diameter: 24px;
    $lt-radius: 1 + $lt-diameter / 2;
    position: absolute;
    width: $lt-diameter;
    height: $lt-diameter;
    top: 50%;
    left: 0;
    margin-top: 0 - $lt-radius;
    margin-left: 0 - $lt-radius;
    border: 1px solid $lt-branding-color;
    border-radius: 100%;
    background: url("/images/icons/header-double-arrow-right.svg") 60% 50% / 10px 10px no-repeat $lt-content-bg;
    content: "";
  }

  &:first-child {
    border-left: 0;

    &::before {
      content: none;
    }
  }
}

.level-title {
  @include font-weight-semibold;
  padding: 15px 0;
  color: $lt-branding-color;
  font-size: 24px;
}

.level-badge {
  margin-top: 20px;
  font-size: 18px;

  svg {
    width: 104px;
    margin-bottom: 15px;
    fill: $lt-branding-color;
  }
}

.comparison-table-body {
  display: flex;

  > .level-column {
    border-left: 1px solid $border-color;

    &:first-child {
      border-left: 0;
    }
  }

  &.section-group,
  &:last-of-type {
    > .level-column {
      padding-bottom: 80px;
    }
  }

  &.section-start > .level-column {
    padding-top: 40px;
  }

  &:last-of-type .item-group {
    padding-bottom: 0;
  }
}

.divider-heading {
  @include font-weight-semibold;
  display: inline-block;
  margin: 0;
  color: $lt-branding-color;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;

  span {
    position: relative;
    display: inline-block;
    min-width: 160px;
    padding: 4px 15px;
    border: 1px solid $lt-branding-color;
    border-radius: 15px;
    background-color: $lt-content-bg;
    z-index: 2;
  }

  &::before {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 1px;
    background-color: $lt-branding-color;
    content: "";
    z-index: 1;
  }
}

.level-group-title {
  @include font-weight-semibold;
  margin: 0 0 20px;
  font-size: 18px;
}

.item-group {
  margin: 0 -5px;

  &.row-collapse {
    padding-bottom: 40px;
  }

  &.is-collapsed {
    padding-bottom: 11px;
  }
}

.item-group-title {
  @include font-weight-bold;
  margin: 0 0 9px;
  padding: 5px 8px;
  background-color: $color-gray-extra-light-alt;
  color: $lt-branding-color;
  font-size: 16px;
  text-transform: uppercase;
}

.item-group-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    position: relative;
    padding: 0 0 16px 27px;
    font-size: 18px;

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 10px;
      font-family: FontAwesome;
      font-size: 20px;
      content: "\f0da";
    }
  }
}

.form-content-container {
  padding-top: 60px;
  padding-bottom: 120px;
  border-top: 1px solid $border-color;
}

.tab-ruler,
.tab-select-input,
.tab-item {
  display: none;
}

.centered-form-title {
  margin-bottom: 40px;
  text-align: center;
}

.centered-form {
  width: 620px;

  @media(max-width: 650px) {
    width: 100%;
  }
}

@media(max-width: $screen-sm-max) {
  .page-illustrated-header-container .header-container-content {
    padding: 80px 0;
  }

  .header-container-content {
    p {
      font-size: 16px;

      &.intro {
        font-size: 18px;
      }
    }
  }

  .tab-item {
    @include font-weight-semibold;
    display: inline-flex;
    justify-content: space-around;
    width: 100% * 1 / 3;
    margin: 0 -2px;
    padding: 17px 0;
    border: 1px solid $lt-branding-color;
    border-right: 0;
    color: $lt-branding-color;
    font-size: 20px;
    cursor: pointer;

    &:first-of-type {
      border-left: 0;
    }
  }

  .comparison-table-header {
    display: none;
  }

  .level-badge {
    font-size: 16px;
  }

  .tab-select-input + label {
    ~ .comparison-table-body {
      > .col-md-4 {
        display: none;
      }
    }
  }

  @each $level in authorized, select, premier {
    .tab-#{$level}:checked + label {
      background-color: rgba($lt-branding-color, .15);
    }

    .tab-#{$level}:checked ~ label {
      ~ .comparison-table-body {
        .#{$level}-col {
          display: block;
        }
      }
    }
  }

  .divider-heading::before {
    right: $lt-mobile-gutter;
    left: $lt-mobile-gutter;
  }

  .comparison-table-body {
    display: block;
  }

  .item-group-list li {
    font-size: 16px;

    &::before {
      font-size: 18px;
    }
  }

  .centered-form-title {
    margin-left: $lt-mobile-gutter;
    margin-right: $lt-mobile-gutter;
    text-align: center;
  }
}
